{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
          if (evt.detail.xhr.status === 422) {
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and we want to rerender with
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      });
    </script>
  </head>
  <body>
    {{ template "form" .Form }}
    <hr />
    {{ template "display" .Data }}
  </body>
</html>
{{ end }} {{ block "form" .}}
<form hx-swap="outerHTML" hx-post="/contacts">
  name:
  <input
    {{
    if
    .Values.name
    }}
    value="{{ .Values.name }}"
    {{
    end
    }}
    type="text"
    name="name"
  />
  email:
  <input
    {{
    if
    .Values.email
    }}
    value="{{ .Values.email }}"
    {{
    end
    }}
    type="text"
    name="email"
  />
  {{ if .Errors.email }}
  <div style="color: red">{{ .Errors.email }}</div>
  {{ end }}
  <button type="submit">Create Contact</button>
</form>
{{ end }} {{ block "display" .}}
<div id="contacts" style="display: flex; flex-direction: column">
  {{ range .Contacts }} {{ template "contact" .}} {{ end }}
</div>
{{ end }} {{ block "contact" . }}
<div class="contact" id="contact-{{ .Id }}" style="display: flex">
  <div
    hx-delete="/contacts/{{ .Id }}"
    style="width: 1rem; cursor: pointer"
    hx-swap="outerHTML swap:500ms"
    hx-indicator="#ci-{{ .Id }}"
    hx-target="#contact-{{ .Id }}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="20"
      height="20"
      viewBox="0 0 30 30"
    >
      <path
        d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"
      ></path>
    </svg>
  </div>
  Name: <span>{{ .Name }}</span> Email: <span>{{ .Email }}</span>

  <div id="ci-{{ .Id }}" class="htmx-indicator">
    <img src="/images/bars.svg" alt="loading" style="width: 1rem" />
  </div>
</div>
{{ end }} {{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">{{ template "contact" . }}</div>
{{ end }}
